

.aboutDiv {
    padding: 20px;
  }
  
  .title {
    font-size: 2.5rem;
  }
  
  @media (min-width: 768px) {
    .title {
      font-size: 3rem;
    }
  }
  
  .description {
    color: #6b7280;
    padding-top: 16px;
  }